<!doctype html>

<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart Door Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    {% load static %}
    <link rel="shortcut icon" href=" {% static 'favicon.png' %}">

    <link rel="stylesheet" href=" {% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href=" {% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/Footer-with-logo.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/scss/style.css' %}">
    <link href=" {% static 'assets/css/lib/vector-map/jqvmap.min.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
          rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
          rel='stylesheet' type='text/css'>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<body>


<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#main-menu" aria-controls="main-menu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img
                    src="{% static 'images/logo.png' %}" alt="Logo"/></a>
            <a class="navbar-brand hidden" href="./"><img
                    src="{% static 'images/logo2.png' %}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#dashboard"><i
                            class="menu-icon fa fa-dashboard"></i>Dashboard</a>
                </li>
                <li class="active">
                    <a href="#set_pwd"> <i class="menu-icon fa fa-gears"></i>Thiết lập mật khẩu</a>
                </li>

                <li class="active">
                    <a href="#manage_pwd"> <i class="menu-icon fa fa-user"></i>
                        Quản lý tài khoản</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">

            <div class="col-sm-7">
               
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i>
                    </button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text"
                                   placeholder="Search ..."
                                   aria-label="Search">
                            <button class="search-close" type="submit"><i
                                    class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                        </button>
                        <div class="dropdown-menu"
                             aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1"
                               href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4"
                               href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5"
                               href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown for-message">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">9</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media bg-flat-color-1"
                               href="#">
                                <span class="photo media-left"><img
                                        alt="avatar" src="images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4"
                               href="#">
                                <span class="photo media-left"><img
                                        alt="avatar" src="images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5"
                               href="#">
                                <span class="photo media-left"><img
                                        alt="avatar" src="images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3"
                               href="#">
                                <span class="photo media-left"><img
                                        alt="avatar" src="images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle"
                             src=" {% static 'images/admin.jpg' %}"
                             alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">0
                        <a class="nav-link" href="/logout"><i
                                class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>

                <div class="language-select dropdown" id="language-select">

                    <h7><b>Chào! {{ user }}</b></h7>
                </div>

            </div>
        </div>
    </header>
    <!-- Header-->
    <div class="row p-2">
        <div class="col-sm-12 " id="status-container">
            <div class="alert  alert-dark alert-dismissible fade show"
                 role="alert"
                 id="status"
            >
                <span class="badge badge-pill badge-dark" id="status-label">Trạng thái</span>
                <span id="status-content"> Đang chờ kết nối</span>
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {# Điều khiển#}
    <div class="breadcrumbs" id = "dashboard">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Điều khiển</h1>
                </div>
            </div>
        </div>
    </div>
    <div class=" mb-5 flex-row d-flex ">
        <div class="w-100 d-flex flex-column align-items-stretch align-content-stretch">
            <div class="justify-content-center align-items-center d-flex">
                <a href="#" id="door_control_icon"
                   class="justify-content-center d-inline-flex"
                   style="width: 127px; height: 175px">
                    <img id="door_status_icon" style="zoom: 1.5;"
                         src="{% static 'door-open.png' %}" alt="Door status">
                </a>
            </div>
            <div class="btn-group align-self-center" style="margin-top: 100px">
                <button type="button" class="btn btn-primary border-primary" style="width: 140px;" id="door_control_btn">Mở</button>
                {% if  auto %}
                    <button type="button" class="btn btn-primary border-primary" style="width: 140px;" id="door_auto_btn">Tự động</button>
                {% else %}
                    <button type="button" class="btn btn-light border-primary" style="width: 140px;" id="door_auto_btn">Thủ công</button>
                {% endif %}
            </div>
        </div>
        <div class="w-100 d-flex flex-column">
            <div class="page-title">
                <span>Lịch sử</span>
            </div>
{#            Lịch su#}
            <div style="overflow-y:scroll; overflow-x:hidden; height:300px;">
                <table width="100%"
                       class="table table-striped table-bordered"
                       id="history-table">
                    <thead>
                    <tr style="position: relative;">
                        <th>Trạng thái</th>
                        <th>Thời gian</th>
                    </tr>
                    </thead>
                    <tbody style="overflow-y: auto;overflow-x: hidden">
                    {% for item in history_list reversed%}
                        <tr>
                            <td>{{ item.action }}</td>
                            <td>{{ item.time|date:"D d/m/Y" }} - {{ item.time|time:"H:i" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div> <!-- .content -->
    {#    Mật khẩu#}

    <div class="d-flex w-100 bg-light flex-column">
        <div class="w-100 page-header float-left">
            <div class="page-title">
                <h1>Quản lí mật khẩu</h1>
            </div>
        </div>
        <table width="100%"
               class="table table-striped table-bordered table-hover pl-2 pr-2"
               id="password-table">
            <thead>
            <tr>
                <th>Nội dung</th>
                <th>Loại</th>
                <th>Thời gian tạo</th>
                <th>Thời gian hiệu lực</th>
                <th>Thời gian hết hạn</th>
                <th>Ghi chú</th>
                <th>Xóa</th>
            </tr>
            </thead>
            <tbody>
            {% for pwd in password_list %}
                <tr>
                    <td>{{ pwd.password }}</td>
                    <td>{% if pwd.is_hard %}
                        Cố định
                    {% else %}
                        Tạm thời
                    {% endif %}
                    </td>
                    <td>{{ pwd.create_time|date:"D d/m/Y" }}
                        - {{ pwd.create_time|time:"H:i" }}</td>
                    {% if pwd.apply_time %}
                        <td>{{ pwd.apply_time|date:"D d/m/Y" }}
                            - {{ pwd.apply_time|time:"H:i" }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if pwd.due_time %}
                        <td>{{ pwd.due_time|date:"D d/m/Y" }}
                            - {{ pwd.due_time|time:"H:i" }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ pwd.description }}</td>
                    <td>
                        <button onclick="deletePwd('{{ pwd.password }}')">
                        <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
        <div id="manage_pwd" class="bg-light d-flex w-100 flex-column">
            <div class="w-100 page-header float-left d-flex flex-row align-items-center">
                <h1 class="w-100">Thêm mật khẩu</h1>
                <div class="p-0 d-flex justify-content-center align-items-center bg-success rounded"
                     style="height: 30px;">
                    {#                    save password button#}
                    <button id="save_pwd_btn"
                            type="button"
                            class="btn p-3 bg-transparent text-white">Lưu
                    </button>
                </div>
            </div>
            <div class="d-flex align-items-start">
                <div class="w-100 justify-content-center p-2">
                    <div style="min-width: 100px;  vertical-align: middle; align-items: center">
                        <div class="d-flex">
                            <div class="d-flex w-100">
                                <span class="d-flex">Mật khẩu</span>
                            </div>
                            <div class=" d-flex align-self-end justify-content-end"
                                 style="min-width: 120px;">
                                <span>Tạm thời</span>
                                <div class="pl-2">
                                    <input id="door_type" class="rounded"
                                           type="checkbox"
                                           data-toggle="collapse"
                                           aria-expanded="false"
                                           aria-controls="collapseExample"
                                           data-target="#timing">
                                </div>
                            </div>
                        </div>
                        <input id="door_pwd" class="rounded d-flex w-100">
                    </div>
                </div>
                <div class="w-100 justify-content-center p-2">
                    <div style="min-width: 100px;  vertical-align: middle; align-items: center">
                        <div class="d-flex w-100">
                            <span class="d-flex">Ghi chú</span>
                        </div>
                        <input id="door_note" class="rounded d-flex w-100">
                    </div>
                </div>
            </div>
            <div id="timing" class="w-100 justify-content-center collapse">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column w-100  p-2">
                        <span>Bắt đầu</span>
                        <input id="door_apply_date" class="rounded "
                               type="datetime-local" step="2">
                    </div>
                    <div class="d-flex flex-column w-100 p-2">
                        <span>Kết thúc</span>
                        <input id="door_due_date" class="rounded"
                               type="datetime-local" step="2">
                    </div>
                </div>

            </div>

        </div>

        <div id="manage_pwd" class="bg-light d-flex w-0 flex-column">
            <div class="w-100 page-header float-left d-flex flex-row align-items-center">
                <h1 style="width: 290px;">Mật khẩu dự phòng:</h1>
                <input id="door-local-pwd" class="rounded d-flex w-100" style="margin-right: 20px">
                <div class="p-0 d-flex justify-content-center align-items-center bg-success rounded"
                     style="height: 30px;">
                    <button id="save-local-pwd"
                            type="button"
                            class="btn p-3 bg-transparent text-white">Lưu
                    </button>
                </div>
            </div>
        </div>
    </div> 
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="social-icons">
                        <a href="https://github.com/vdthieu/smartdoor-mqtt-django-channels" class="twitter" style="font-size:3em"><i class="fa fa-github"></i></a>
                                            </div>
                </div>
                <div class="col-sm-3">
                    <h5>Member</h5>
                    <ul>
                        <li>Phùng Nhật Hải</li>
                        <li>Võ Đình Trung Hiếu</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Contact us</h5>
                    <ul>
                        <li><a href="#">phungnhathai96@gmail.com</a></li>
                        <li><a href="#">trunghieu.vodinh@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p>Đồ án chuyên ngành khoa Mạng máy tính và Truyền thông.<br/>GVHD: PGS. TS Lê Trung Quân</p>
                </div>
                
            </div>
        </div>
    </footer>

</div><!-- /#right-panel -->

<!-- Right Panel -->

<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="{% static 'assets/js/widgets.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/country/jquery.vmap.world.js' %}"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
    (function ($) {
        "use strict";
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>
<script>
    var iconDoor = jQuery("#door_status_icon"); // hình cửa
    var icnControlDoor = jQuery("#door_control_icon"); // thẻ bao icon cửa
    var btnControlDoor = jQuery('#door_control_btn'); // nút đóng cửa
    var btnAutoDoor = jQuery('#door_auto_btn');  // nút tự động
    var btnSavePwd = jQuery("#save_pwd_btn"); // nút lưu password
    var pwdTable = jQuery('#password-table > tbody:last-child');
    var htyTable = jQuery('#history-table > tbody > tr:first');
    var statusContainer = jQuery('#status-container');
    var statusBar = jQuery('#status');
    var statusLabel = jQuery('#status-label');
    var statusContent = jQuery('#status-content');
    var localPwd = jQuery('#door-local-pwd');
    var btnSaveLocalPwd = jQuery('#save-local-pwd');
    var dataPwd = jQuery("#door_pwd");
    var dataPwdType = jQuery("#door_type");
    var dataNote = jQuery('#door_note');
    var dataApplyDate = jQuery("#door_apply_date");
    var dataDueDate = jQuery("#door_due_date");
    var pwdTiming = jQuery('#timing');

    var doorOpenStatus = true;
    {% if  auto %}
        var isAuto = true;
    {% else %}
        var isAuto = false;
    {% endif %};

    var displayDay = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'];

    var socket = new WebSocket('ws://' + window.location.host + '/ws/door/');

    function updateDoorIcon() {
        if (doorOpenStatus) {
            iconDoor.attr('src', "{% static 'door-open.png' %}");
            btnControlDoor.text("Mở");
            btnControlDoor.addClass('btn-primary');
            btnControlDoor.removeClass('btn-light');
        } else {
            iconDoor.attr('src', "{% static 'door-close.png' %}");
            btnControlDoor.text("Đóng");
            btnControlDoor.removeClass('btn-primary');
            btnControlDoor.addClass('btn-light');
        }
    }

    function updateDoorAuto (){
        if(isAuto){
            btnAutoDoor.removeClass(' btn-light');
            btnAutoDoor.addClass('btn-primary ');
            btnAutoDoor.text('Tự động')
        }else{
            btnAutoDoor.addClass(' btn-light');
            btnAutoDoor.removeClass('btn-primary ');
            btnAutoDoor.text('Thủ công')
        }
    }

    function dateToString(_date){
        if (_date.length === 0) return "";
        if (typeof _date === 'string') _date = new Date(_date);
        var day = displayDay[_date.getDay()];
        var date = (_date.getDate() > 9) ? _date.getDate() : ('0' + _date.getDate() );
        var month = ((_date.getMonth()+1) > 9) ? (_date.getMonth() +1) : ('0' + (_date.getMonth()+1) );
        var year = _date.getFullYear();
        var hour = (_date.getHours() > 9) ? _date.getHours() : ('0' + _date.getHours() );
        var minutes = (_date.getMinutes() > 9) ? _date.getMinutes() : ('0' + _date.getMinutes() );
        return  day + ' ' + date + '/' + month + '/' + year + ' - ' + hour + ':' + minutes
    }

    function updateStatusBar(state, message) {
        const element = document.getElementById('status');
        if (element) {
            const elementClasses = element.className.split(' ');
            elementClasses.forEach(function (value) {
                if (value.substring(0, 5) === 'alert' && value !== 'alert-dismissible' && value !== 'alert') {
                    statusBar.toggleClass(value);
                    statusBar.toggleClass('alert-' + state);
                    statusLabel.toggleClass('badge' + value.substring(5, value.length));
                    statusLabel.toggleClass('badge-' + state);
                }
            });
            statusContent.text(message);
        } else { // when user close message bar
            statusContainer.append('<div class="alert  alert-' + state + ' alert-dismissible fade show"\n' +
                '                 role="alert"\n' +
                '                 id="status"\n' +
                '            >\n' +
                '                <span class="badge badge-pill badge-' + state + '" id="status-label">Trạng thái</span>\n' +
                '                <span id="status-content"> ' + message + '</span>\n' +
                '                <button type="button" class="close" data-dismiss="alert"\n' +
                '                        aria-label="Close">\n' +
                '                    <span aria-hidden="true">&times;</span>\n' +
                '                </button>\n' +
                '            </div>')
        }
    }


    function deletePwd(password){
        socket.send(JSON.stringify({
            delete_password : password
        }))
    }

    socket.addEventListener('open', function (event) {
        updateStatusBar('success','Kết nối đến server thành công')
    });

    socket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(data)
        // update door status
        if (data.hasOwnProperty('door_status')) {
            var message = data['door_status'];
            if (message === 'close') {
                doorOpenStatus = false;
            }
            if (message === 'open') {
                doorOpenStatus = true;
            }
            updateDoorIcon();
            return;
        }
        // update password table
        if(data.hasOwnProperty('add_pwd_list')){
            var dataContent = data['add_pwd_list'];
            if(dataContent.ok){
                var value=
                '<tr> ' +
                    '<td>'+ dataContent.pwd +'</td>' +
                    '<td>'+ (dataContent.type ? 'Tạm thời' : 'Cố định') + '</td>' +
                    '<td>'+ dateToString(dataContent.create) +'</td>' +
                    '<td>'+ dateToString(dataContent.apply) +'</td>' +
                    '<td>'+ dateToString(dataContent.due) +'</td>' +
                    '<td>'+ dataContent.note +'</td>' +
                    '<td>' +
                        '<button onclick="deletePwd('+ "'" + dataContent.pwd +"'" + ')">' +
                        '<i class="fa fa-trash-o"></i>' +
                        '</button>' +
                    '</td>'+
                '</tr>';
            pwdTable.append(value);
            dataPwd.val('');
            if( dataPwdType.is(':checked')){
                dataPwdType.attr('checked', false);
                pwdTiming.toggle();
            }
            dataNote.val('');
            dataApplyDate.val('');
            dataDueDate.val('');
            }else{
                alert(dataContent.message)
            }
            btnSavePwd.removeAttr('disabled');
            return;
        }
        if(data.hasOwnProperty('remove_pwd_list')){
            var password = data.remove_pwd_list;
            var row = jQuery('#password-table > tbody >tr :contains(' +password +')');
            row.parent().remove();
            return;
        }
        // update history table
        if(data.hasOwnProperty('update_hty_list')){
            var dataContent = data['update_hty_list'];
            var value=
                '<tr> ' +
                    '<td>'+ dataContent.action +'</td>' +
                    '<td>'+ dateToString(dataContent.time) +'</td>' +
                '</tr>';
            htyTable.before(value);
            return;
        }
        // update active device
        if(data.hasOwnProperty('update_devices_status')){
            var dataContent = data['update_devices_status']
            if(dataContent.count >0){
                var devices_name = dataContent.devices.join(', ')
                updateStatusBar('info',`${devices_name} đang hoạt động`);
            }
            else
                updateStatusBar('warning','Không có thiết bị nào đang hoạt động');
            return;
        }
        // update door auto status
        if(data.hasOwnProperty('update_door_auto')){
            isAuto = data.update_door_auto === 'on';
            updateDoorAuto()
        }
    };

    icnControlDoor.click(function () {
        var data;
        if (!doorOpenStatus)
            data = {door_control: 'open'};
        else data = {door_control: 'close'};
        socket.send(JSON.stringify(data));
    });

    btnControlDoor.click(function () {
        var data;
        if (!doorOpenStatus)
            data = {door_control: 'open'};
        else data = {door_control: 'close'};
        socket.send(JSON.stringify(data));
    });

    btnSavePwd.click(function () {
        var data = {
            door_save_pwd: {
                pwd: dataPwd.val(),
                type: dataPwdType.is(':checked'),
                note: dataNote.val(),
                create: new Date(),
                apply: dataApplyDate.val(),
                due: dataDueDate.val()
            }
        };
        socket.send(JSON.stringify(data));
        btnSavePwd.attr('disable', true)
    });

    btnSaveLocalPwd.click(function(){
        socket.send(JSON.stringify({
            local_pwd : localPwd.val()
        }));
        localPwd.val('')
    });

    btnAutoDoor.click(function(){
        socket.send(JSON.stringify({
            door_auto : !isAuto ? 'on' : 'off'
        }))
    });


    socket.onclose = function (e) {
        updateStatusBar('danger','Mất kết nối đến server')
    };
    jQuery('#close-action').on("click", function () {
        socket.send(JSON.stringify({
            message: 'close'
        }))
    });
    jQuery('#open-action').on("click", function () {
        socket.send(JSON.stringify({
            message: 'open'
        }))
    });
</script>
<script>

</script>
</body>
</html>
