<!doctype html>

<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart Home Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    {% load static %}
    <link rel="shortcut icon" href=" {% static 'favicon.png' %}">

    <link rel="stylesheet" href=" {% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/Footer-with-logo.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/scss/style.css' %}">
    <link href=" {% static 'assets/css/lib/vector-map/jqvmap.min.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
          rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>

<body>
<!-- Left Panel ---->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/dashboard">
                <h4 class="menu-icon ti-home"> Smart<b>Home</b>
                </h4>
            </a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/dashboard">
                        <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title"></h3>
                <!-- /.menu-title -->
                <li>
                    <a href="/training" class="aria-has" popup=" true " aria-expanded="false "> <i class="menu-icon ti-rocket "></i>Training</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel " class="right-panel ">

    <!------Header------->
    <header id="header " class="header ">
        <div class="header-menu ">
            <div class="col-sm-7 ">
                <div class="header-left ">
                    <div class="dropdown for-notification border-light ">
                        <button class="btn btn-secondary dropdown-toggle "
                                type="button " id="notification "
                                data-toggle="dropdown " aria-haspopup="true "
                                aria-expanded="false ">
                            <i class="fa fa-bell "></i>
                            <span class="count bg-danger ">2</span>
                        </button>
                        <div class="dropdown-menu "
                             aria-labelledby="notification ">
                            <a class="dropdown-item media " style="background: #e2e2e2; "
                               href="# ">
                                14:20 12/06: Nhập mật khẩu sai liên tục
                            </a>
                            <a class="dropdown-item " style="background: #eeeeee; "
                               href="# ">
                                17:33 13/06: Nhập mật khẩu sai liên tục
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 ">
                <div class="user-area dropdown float-right ">
                    <a href="# " class="dropdown-toggle " data-toggle="dropdown "
                       aria-haspopup="true " aria-expanded="false ">
                        <img class="user-avatar rounded-circle "
                             src=" {% static 'images/admin.jpg' %} "
                             alt="User Avatar ">
                    </a>

                    <div class="user-menu dropdown-menu ">
                        <a class="nav-link " href="/logout "><i
                                class="fa fa-power -off "></i>Logout</a>
                    </div>
                </div>

                <div class="language-select dropdown" id="language-select">
                    <h7><b>Welcome! {{ user }}</b></h7>
                </div>
            </div>
        </div>
    </header>
    <!-- -----------------------------Header---------------------------->
    {# State Device#}
    <div class="breadcrumbs" id="dashboard">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title ">
                    <h1>State Device</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 " id="status-container ">
            <div class="alert alert-dark fade show "
                 role="alert "
                 id="device_servo_container ">
                <span class="badge badge-pill badge-dark " id="device_servo_label ">Servo</span>
                <span id="device_servo_content "> Đang chờ</span>

            </div>
        </div>
        <div class="col-sm-4" id="status-container">
            <div class="alert alert-dark fade show"
                 role="alert"
                 id="device_keypad_container">
                <span class="badge badge-pill badge-dark " id="device_keypad_label">Light System</span>
                <span id="device_keypad_content "> Đang chờ</span>

            </div>
        </div>
        <div class="col-sm-4 " id="status-container">
            <div class="alert alert-dark fade show"
                 role="alert "
                 id="device_rfid_container">
                <span class="badge badge-pill badge-dark " id="device_rfid_label">RFID</span>
                <span id="device_rfid_content"> Đang chờ</span>

            </div>
        </div>
    </div>
    <!------------------------------Control------------------------------->
    {# Điều khiển#}
    <div class="breadcrumbs " id="dashboard ">
        <div class="col-sm-4 ">
            <div class="page-header float-left ">
                <div class="page-title ">
                    <h1>Control</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 ">
        <aside class="profile-nav alt">
            <section class="card">
                <div class="card-header user-header alt bg-flat-color-1">
                    <div class="media">
                        <div>
                            <h5 class="text-light">
                                <span>Light Control</span>
                                <span class=""></span>
                            </h5>

                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush" id="led_list">
                    <li class="list-group-item">
                        Living Room
                        <span class="pull-right">
                            <label class="switch switch-text switch-primary">
                                <input id="LLIV" type="checkbox" class="switch-input" checked="false">
                                <span data-on="On" data-off="Off" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </span>
                    </li>
                    <li class="list-group-item">
                        Kitchen
                        <span class="pull-right">
                            <label class="switch switch-text switch-primary">
                                <input name="LKIT" type="checkbox" class="switch-input" checked="true">
                                <span data-on="On" data-off="Off" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </span>
                    </li>
                    <li class="list-group-item">
                        Bed Room
                        <span class="pull-right">
                            <label class="switch switch-text switch-primary">
                                <input name="LBED" type="checkbox" class="switch-input" checked="false">
                                <span data-on="On" data-off="Off" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </span>
                    </li>
                    <li class="list-group-item">
                        Bath Room
                        <span class="pull-right">
                            <label class="switch switch-text switch-primary">
                                <input name="LBAT" type="checkbox" class="switch-input" checked="true">
                                <span data-on="On" data-off="Off" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </span>
                    </li>

                </ul>
            </section>
        </aside>
    </div>
    <!---------Office Room Light---------------->
    <div class="col-lg-4 col-md-6 ">
        <div class="card ">
            <div class="card-header ">
                <strong class="card-title mb-3 ">Office Room Light</strong>
            </div>
            <div class="card-body ">
                <br>
                <div class="stat-widget-four ">
                    <div class="stat-icon dib ">
                        <i class="ti-light-bulb text-muted "></i>
                    </div>
                    <div class="stat-content ">
                        <div class="text-left dib ">
                            <h5>Temperature</h5>
                            <h3><span class="count" id="light"></span> °C</h3>
                        </div>
                    </div>
                </div>
                <hr>
                <h6><span>Warn</span><span class="pull-right ">Cool</span></h6>
                <div class="card-text text-sm-center ">
                    <input type="range" min="1" max="100" value="50" class="Tempslider" id="LightRange">
                </div>
            </div>
        </div>
    </div>

    <!---------------->
    <div class="col-lg-4 col-md-6 ">
        <div class="card ">
            <div class="card-header ">
                <strong class="card-title mb-3 ">Air Condition</strong>
            </div>
            <div class="card-body ">
                <br>
                <div class="stat-widget-four ">
                    <div class="stat-icon dib ">
                        <i class="ti-pulse text-muted "></i>
                    </div>
                    <div class="stat-content ">
                        <div class="text-left dib ">
                            <h5>Temperature</h5>
                            <h3><span class="count" id="temp"></span> °C</h3>
                        </div>
                    </div>
                </div>
                <hr>
                <h6><span>-</span><span class="pull-right ">+</span></h6>
                <div class="card-text text-sm-center ">
                    <input type="range" min="1" max="100" value="50" class="Tempslider" id="TempRange">
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------------------------->
    <input type="range " min="1 " max="100 " value="50 " class="slider " id="myRange ">

    <div class="col-lg-3 col-md-6 ">
        <div class="social-box facebook ">
            <i class="card-title ">Light Control</i>
            <ul class="card-header ">
                <li>
                    <span class="count ">40</span> k
                    <span>friends</span>
                </li>
                <li>
                    <label class="switch switch-text switch-primary "><input type="checkbox " class="switch-input
        " checked="true "> <span data-on="On " data-off="Off " class="switch-label "></span> <span class="switch-handle "></span></label>
                </li>

            </ul>
        </div>
        <!--/social-box-->
    </div>
    <div class=" mb-5 flex-row d-flex ">
        <div class="w-100 d-flex flex-column align-items-stretch align-content-stretch ">
            <div class="justify-content-center align-items-center d-flex ">
                <a href="# " id="door_control_icon "
                   class="justify-content-center d-inline-flex "
                   style="width: 127px; height: 175px ">
                    <img id="door_status_icon " style="zoom: 1.5; "
                         src="{% static 'door-close.png' %} " alt="Door status ">
                </a>
            </div>
            <div class="btn-group align-self-center " style="margin-top: 100px ">
                <button type="button " class="btn border-primary " style="width: 140px; " id="door_control_btn ">Đóng</button>
                {% if  auto %}
                    <button type="button " class="btn btn-primary border-primary " style="width: 140px; " id="door_auto_btn ">Tự động</button>
                {% else %}
                    <button type="button " class="btn btn-light border-primary " style="width: 140px; " id="door_auto_btn ">Thủ công</button>
                {% endif %}
            </div>
        </div>
        <div class="w-100 d-flex flex-column ">
            <div class="page-title ">
                <span>Lịch sử</span>
            </div>
            {#            Lịch su#}
            <div style="overflow-y:scroll; overflow-x:hidden; height:300px; ">
                <table width="100% "
                       class="table table-striped table-bordered "
                       id="history-table ">
                    <thead>
                    <tr style="position: relative; ">
                        <th>Trạng thái</th>
                        <th>Thời gian</th>
                    </tr>
                    </thead>
                    <tbody style="overflow-y: auto;overflow-x: hidden ">
                    {% for item in history_list reversed %}
                        <tr>
                            <td>{{ item.action }}</td>
                            <td>{{ item.time|date:"D d/m/Y " }} - {{ item.time|time:"H:i " }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div> <!-- .content -->
    {#    Mật khẩu#}

    <div class="d-flex w-100 bg-light flex-column ">
        <div class="w-100 page-header float-left ">
            <div class="page-title ">
                <h1>Quản lí mật khẩu</h1>
            </div>
        </div>
        <table width="100% "
               class="table table-striped table-bordered table-hover pl-2 pr-2 "
               id="password-table ">
            <thead>
            <tr>
                <th>Nội dung</th>
                <th>Loại</th>
                <th>Thời gian tạo</th>
                <th>Thời gian hiệu lực</th>
                <th>Thời gian hết hạn</th>
                <th>Ghi chú</th>
                <th>Xóa</th>
            </tr>
            </thead>
            <tbody>
            {% for pwd in password_list %}
                <tr>
                    <td>{{ pwd.password }}</td>
                    <td>{% if pwd.is_hard %}
                        Cố định
                    {% else %}
                        Tạm thời
                    {% endif %}
                    </td>
                    <td>{{ pwd.create_time|date:"D d/m/Y " }}
                        - {{ pwd.create_time|time:"H:i " }}</td>
                    {% if pwd.apply_time %}
                        <td>{{ pwd.apply_time|date:"D d/m/Y " }}
                            - {{ pwd.apply_time|time:"H:i " }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if pwd.due_time %}
                        <td>{{ pwd.due_time|date:"D d/m/Y " }}
                            - {{ pwd.due_time|time:"H:i " }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ pwd.description }}</td>
                    <td>
                        <button onclick="deletePwd( '{{ pwd.password }}') ">
                            <i class="fa fa-trash-o "></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
        <div id="manage_pwd " class="bg-light d-flex w-100 flex-column ">
            <div class="w-100 page-header float-left d-flex flex-row align-items-center ">
                <h1 class="w-100 ">Thêm mật khẩu</h1>
                <div class="p-0 d-flex justify-content-center align-items-center bg-success rounded "
                     style="height: 30px; ">
                    {#                    save password button#}
                    <button id="save_pwd_btn "
                            type="button "
                            class="btn p-3 bg-transparent text-white ">Lưu
                    </button>
                </div>
            </div>
            <div class="d-flex align-items-start ">
                <div class="w-100 justify-content-center p-2 ">
                    <div style="min-width: 100px; vertical-align: middle; align-items: center ">
                        <div class="d-flex ">
                            <div class="d-flex w-100 ">
                                <span class="d-flex ">Mật khẩu</span>
                            </div>
                            <div class=" d-flex align-self-end justify-content-end "
                                 style="min-width: 120px; ">
                                <span>Tạm thời</span>
                                <div class="pl-2 ">
                                    <input id="door_type " class="rounded "
                                           type="checkbox "
                                           data-toggle="collapse "
                                           aria-expanded="false "
                                           aria-controls="collapseExample "
                                           data-target="#timing ">
                                </div>
                            </div>
                        </div>
                        <input id="door_pwd " class="rounded d-flex w-100 ">
                    </div>
                </div>
                <div class="w-100 justify-content-center p-2 ">
                    <div style="min-width: 100px; vertical-align: middle; align-items: center ">
                        <div class="d-flex w-100 ">
                            <span class="d-flex ">Ghi chú</span>
                        </div>
                        <input id="door_note " class="rounded d-flex w-100 ">
                    </div>
                </div>
            </div>
            <div id="timing " class="w-100 justify-content-center collapse ">
                <div class="d-flex flex-row ">
                    <div class="d-flex flex-column w-100 p-2 ">
                        <span>Bắt đầu</span>
                        <input id="door_apply_date " class="rounded "
                               type="datetime-local " step="2 ">
                    </div>
                    <div class="d-flex flex-column w-100 p-2 ">
                        <span>Kết thúc</span>
                        <input id="door_due_date " class="rounded "
                               type="datetime-local " step="2 ">
                    </div>
                </div>

            </div>

        </div>

        <div id="manage_pwd " class="bg-light d-flex w-0 flex-column ">
            <div class="w-100 page-header float-left d-flex flex-row align-items-center ">
                <h1 style="width: 290px; ">Mật khẩu dự phòng:</h1>
                <input id="door-local-pwd " class="rounded d-flex w-100 " style="margin-right: 20px ">
                <div class="p-0 d-flex justify-content-center align-items-center bg-success rounded "
                     style="height: 30px; ">
                    <button id="save-local-pwd "
                            type="button "
                            class="btn p-3 bg-transparent text-white ">Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer id="myFooter ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-3 ">
                    <div class="social-icons ">
                        <a href="https://github.com/vdthieu/smartdoor-mqtt-django-channels " class="twitter " style="font-size:3em
        "><i class="fa fa-github "></i></a>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <h5>Member</h5>
                    <ul>
                        <li>Phùng Nhật Hải</li>
                        <li>Võ Đình Trung Hiếu</li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h5>Contact us</h5>
                    <ul>
                        <li><a href="# ">phungnhathai96@gmail.com</a></li>
                        <li><a href="# ">trunghieu.vodinh@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info ">
                    <h5>Information</h5>
                    <p>Đồ án chuyên ngành khoa Mạng máy tính và Truyền thông.<br/>GVHD: PGS. TS Lê Trung Quân</p>
                </div>

            </div>
        </div>
    </footer>

</div><!-- /#right-panel -->

<!-- Right Panel -->

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>#}

<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
{#<script src="{% static 'assets/js/dashboard.js' %}"></script>#}
{#<script src="{% static 'assets/js/widgets.js' %}"></script>#}
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/country/jquery.vmap.world.js' %}"></script>
{#<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>#}

{#<script src="{% static 'scripts/script.js' %}"></script>#}
<script src="{% static 'scripts/webSocket.js' %}"></script>
<script src="{% static 'scripts/ledControl.js' %}"></script>
<script>
    (function ($) {
        "use strict ";
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>
</body>
</html>