<!doctype html>

<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart Home Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    {% load static %}
    <link rel="shortcut icon" href=" {% static 'favicon.png' %}">

    <link rel="stylesheet" href=" {% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/Footer-with-logo.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/scss/style.css' %}">
    <link href=" {% static 'assets/css/lib/vector-map/jqvmap.min.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>

<body>
<!-- Left Panel ---->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/dashboard">
                <h4 class="menu-icon ti-home"> Smart<b>Home</b>
                </h4>
            </a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/dashboard">
                        <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title"></h3>
                <!-- /.menu-title -->
                <li>
                    <a href="/training" class="aria-has" popup=" true " aria-expanded="false "> <i class="menu-icon ti-rocket "></i>Training</a>
                </li>
                <h3 class="menu-title"></h3>
                <!-- /.menu-title -->
                <li>
                    <a href="/aboutus" class="aria-has" popup=" true " aria-expanded="false "> <i class="menu-icon ti-github"></i>About us</a>
                </li>
                <h3 class="menu-title"></h3>
                <!-- /.menu-title -->
                <li>
                    <a href="/logout" class="aria-has" popup=" true " aria-expanded="false "> <i class="menu-icon ti-shift-left"></i>Logout</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel " class="right-panel ">

    <!------Header------->
    <header id="header " class="header ">
        <div class="header-menu ">
            <div class="col-sm-7 ">
            </div>

            <div class="col-sm-5 ">
                <div class="user-area dropdown float-right ">
                    <a href="# " class="dropdown-toggle " data-toggle="dropdown "
                       aria-haspopup="true " aria-expanded="false ">
                        <img class="user-avatar rounded-circle "
                             src=" {% static 'images/admin.jpg' %} "
                             alt="User Avatar ">
                    </a>
                </div>

                <div class="language-select dropdown" id="language-select">
                    <h7><b>Welcome! {{ user }}</b></h7>
                </div>
            </div>
        </div>
    </header>
    <!-- -----------------------------Header---------------------------->
    {# State Device#}
    <div class="breadcrumbs" id="dashboard ">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title ">
                    <h1>Training</h1>
                </div>
            </div>
        </div>
    </div>

    <!--Switch-->
       <div class="col-lg-3 col-md-6 no-padding">
        <div class="card-body bg-flat-color-5">
                <div class="h1 text-muted text-center mb-4">
                    <i class="fa ti-pencil-alt text-light"></i>
                </div>
                <div class="h6 mb-2 text-light text-center">
                    <span class="count">Training Mode</span>
                </div>
                <div class="text-center">
                    <label class="switch switch-text switch-success switch-pill ">
                        <input id="train_switch" type="checkbox" class="switch-input" checked="true">
                        <span data-on="On" data-off="Off" class="switch-label"></span>
                        <span class="switch-handle"></span></label>
                </div>
            </div>
    </div>
    <div class="col-lg-3 col-md-6 no-padding">
        <div class="card-body bg-flat-color-1">
                <div class="h1 text-muted text-center mb-4">
                    <i class="fa ti-flag text-light"></i>
                </div>
                <div class="h6 mb-2 text-light text-center">
                    <span class="count">Predict Mode</span>
                </div>
                <div class="text-center">
                    <label class="switch switch-text switch-success switch-pill ">
                        <input id="train_switch" type="checkbox" class="switch-input" checked="true">
                        <span data-on="On" data-off="Off" class="switch-label"></span>
                        <span class="switch-handle"></span></label>
                </div>
            </div>
    </div>
    <div class="col-lg-3 col-md-6 no-padding">
        <div class="card-body bg-flat-color-3">
                <div class="h1 text-muted text-center mb-4">
                    <i class="fa ti-timer text-light"></i>
                </div>
                <div class="h6 mb-2 text-light text-center">
                    <span class="count">Time Training</span>
                </div>
                <div class="text-center text-light h4 mb-0">5:34:11</div>
            </div>
    </div>
    <div class="no-padding col-lg-3 col-md-6">
        <div class="card-body bg-flat-color-2">
                <div class="h1 text-muted text-center mb-4">
                    <i class="fa ti-list text-light"></i>
                </div>
                <div class="h6 mb-2 text-light text-center">
                    <span class="count">Training Mode</span>
                </div>
                 <div class="h4 mb-0 text-light text-center ">
                      <span class="count">1238</span>
                 </div>
            </div>
    </div>
    
    <!--/.col-->
    <!---Data Collection Table--->

     <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Collection</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                   <thead>
	                    <tr>
	                        <th scope="col">#</th>
	                        <th scope="col">Time stamp</th>
	                        <th scope="col">Device Code</th>
	                        <th scope="col">State/Value</th>
	                    </tr>
	                 </thead>
                    <tbody>
                 	</tbody>
				</table>
			</div>
		</div>
	</div>
                        

 

</div><!-- /#right-panel -->

<!-- Right Panel -->

<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
{#<script src="{% static 'assets/js/dashboard.js' %}"></script>#}
{#<script src="{% static 'assets/js/widgets.js' %}"></script>#}
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.min.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'assets/js/lib/vector-map/country/jquery.vmap.world.js' %}"></script>
{#<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>#}

<script src="{% static 'scripts/training/ws-learning.js' %}"></script>
<script src="{% static 'scripts/training/training.js' %}"></script>
<script src="{% static 'scripts/training/data-table.js' %}"></script>

<script>


    (function ($) {
        "use strict ";
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
    (function ($) {
    //    "use strict";


    /*  Data Table
    -------------*/
/*
    $('#bootstrap-data-table').DataTable({
        lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
    });

    $('#data-table').DataTable({
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
    });*/

    $('#row-select').DataTable( {
        initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );

})(jQuery);
</script>
</body>
</html><script>

</script>
</body>
</html>